<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyATZMwYqgcUuRBMujpFyOHn7rNUC1Xai2I</string>
	<key>GCM_SENDER_ID</key>
	<string>728079962028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sa.instagram-clone-app-design</string>
	<key>PROJECT_ID</key>
	<string>instaclone-f1a14</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone-f1a14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728079962028:ios:808795c4f48ac2f641b409</string>
</dict>
</plist>